
.abouthero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  h1 {
    color: white;
    font-size: 3rem;
  }
}

.about-container {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  
  .about-paragraphs {
    margin: 3rem auto;
    width: 750px;

      
    .about-title {
      text-align: center;
      font-size: 2rem;
      font-style: $font__header;
      color: $color__head;
    }
  }
}

p span {
  font-size: 14px;
}




