.product-links {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding-left:0;

  li {
    padding: 10px 30px;
    font-size: 1.2rem;
    font-family: $font__pre;
    font-weight: normal;
    text-transform: uppercase;

    a {
      color: $color__link;

      &:hover {
        color: $color__link-visited;
      }
    }
  }
}

.pageheader {
  display: flex;
  flex-direction: column;
}

.all-products-wrap {
  display: flex;
  flex-wrap: wrap;
}
 
.archive-product .product-type-container {
  padding: 0 300px;
}

.single-product-container {
  width: 260px;
  margin: 0 10px;
  img,
  .entry-header {
    height: 220px;
  }
  .entry-header,
  .product-type-wrapper  {
    position: relative;
    width: 250px;
    margin: 0;
    
    h2 {
      background-color: #fff;
      font-size: 1rem;
      display: inline;
      overflow: hidden;
      white-space: nowrap;
      height: 22px;
      position: left;
      width: 69%;
      font-family: Merriweather, serif;

        &:before{
          float: left;
          width: 0;
          white-space: nowrap;
          content: ".......................................";
        }
    }
  }
}

.single-product-container .entry-content {
  padding: 10px 0;
  border: 1px solid #e1e1e1;

  span {
    background-color: #fff;
    float: right;
  }
}

.archive-product .product-info,
.product-type {
  text-align: center;
  margin-top: 20v;
  .product-type-wrapper,
  .product-type-wrapper:hover {
    border: none;
    width: 100%;
  }
}

.single-product-container img,
.archive-product img,
.archive-product a {
      height: 220px;
      width: 270px;
      object-fit: cover;
}

.archive-product,
.product-type {

  h1 {
    color: black;
    font-size: 2.6rem;
    font-weight: bold;
    display: inline;
  }
} 

