

.single-wrap {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e1e1e1;
  padding: 3.25rem 5% 3rem 0;
  width: 73%;
}

.sidebar-control {
  display: flex;
}

.error-404 {
  
  .search-btn {
    display: none;
  }
  .search-field {
    display: inline-block;
  }
  ul {
    flex-direction: column;
  }
}

.error-404 {
  h1,
  h2 {
    display: block;
    margin: 0;
    text-align: left;
  }
}