/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather/merriweather-bold-webfont.woff') format('woff'),
         url('../../fonts/Merriweather/merriweather-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../../fonts/Merriweather/merriweather-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather/merriweather-light-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather/merriweather-light-webfont.woff') format('woff'),
         url('../../fonts/Merriweather/merriweather-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../fonts/Merriweather/merriweather-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/Merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
         url('../../fonts/Merriweather/merriweather-lightitalic-webfont.ttf') format('truetype');         
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Novocento';
    src: url('../../fonts/Novecento/novecentosanswide-demibold-webfont.eot');
    src: url('../../fonts/Novecento/novecentosanswide-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Novecento/novecentosanswide-demibold-webfont.woff2') format('woff2'),
         url('../../fonts/Novecento/novecentosanswide-demibold-webfont.woff') format('woff'),
         url('../../fonts/Novecento/novecentosanswide-demibold-webfont.ttf') format('truetype'),
         url('../../fonts/Novecento/novecentosanswide-demibold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Novocento';
    src: url('../../fonts/Novecento/novecentosanswide-normal-webfont.eot');
    src: url('../../fonts/Novecento/novecentosanswide-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Novecento/novecentosanswide-normal-webfont.woff2') format('woff2'),
         url('../../fonts/Novecento/novecentosanswide-normal-webfont.woff') format('woff'),
         url('../../fonts/Novecento/novecentosanswide-normal-webfont.ttf') format('truetype'),
         url('../../fonts/Novecento/novecentosanswide-normal-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}