body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: #fff;
}


.home-hero{
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover, cover;
    margin-top: -50px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.shop-stuff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-box {
    display: flex;
   align-items: center;
   width: 1120px;

}

.product-block {
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 20px 0;
  &:hover {
    border-color:#d99054;
  }

    img {
      height: 70px;
      width: auto;
    }
}

/////// Journal ///////
.journal-post {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  .journal-picture {
    background: #e1e1e1;
  }

  img {
    height: 250px;
    width: auto;
    max-width: none;
  }

  li {
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 0;
  }

  .journal-info {
    background: white;
    padding-bottom: 20px;
    margin: 0.75rem;
    
    span {
      font-size: .8rem;
    }
    
    a {
      margin-bottom: 3rem;
    }
    
    h3 {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 20px;
    
    a {
      text-decoration: none;
      color: $color__link;
      &:hover {
        color: $color__link-visited;
        }
      }
    }
  }
}

//////adventures///////

.front-page-wrapper{
  position: relative;
  display: flex;

  .adventures .container{
    display: flex;
    flex-direction: column;

    .adventures {

    }
  }
}

.canoe {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure-photos/canoe-girl.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 620px;
  width: 620px;
}

.bonfire {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure-photos/beach-bonfire.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
  width: 300px;
}

.hikers {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure-photos/mountain-hikers.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
  width: 300px;
}

.night-sky {
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.25),
  rgba(0, 0, 0, 0.25)
  ),
  url(../../images/adventure-photos/night-sky.jpg) no-repeat center center;
  background-size: cover, cover;
  height: 300px;
  width: 300px;
}

.story-wrap {
  position: relative;
  .story-info {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 20px 10px;
  }
}

.readtag {
  border: 1px solid white;
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  &:hover {
    background-color: $color__link;
    color: white;
    border: 1px solid $color__link;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
  &:visited {
    color: white;
    &:hover {
      color:white;
    }
  }
}

.button {
  padding: 12.5px 25px;
  font-family: $font__pre;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
  background-color: $color__link;
  &:hover {
    background-color: $color__link-hover;
    color: white;
  }
  &:visited {
    color: white;
    &:hover {
      color:white;
    }
  }
}
